node_modules
dist
.idea
.project
.settings
*-debug.log
.serverless
results.xml
*.iml
service.yml
dev-development/service.yml
coverage
.nyc_output
.vscode
.scannerwork
/bin/
*@*/
credentials.json
*-credentials.json
dev-test